
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediatek.contacts">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <application  android:label="AasSne">
        <activity android:name="com.mediatek.contacts.aas.AasTagActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/EditorActivityTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/aas_custom_title">
            <intent-filter >
                <action android:name="com.mediatek.contacts.action.EDIT_AAS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
